.center {
    display: flex;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}
